<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<table border="1" cellppadding="10">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Discription</th>
        <th>Tax</th>
    </tr>
    {%for i in productdetail%}
    <tr>
        <td>{{i.Name}}</td>
        <td>{{i.price}}</td>
        <td>{{i.discription}}</td>
        <td>{{i.tax}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>